@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #f2efe9;
  --bgMode: #fff;
  --bgCategory: #f2efe9;
  --bgFooter: #f8f8f8;
  --softBg: #e6e6e6;
  --textColor: #333e48;
  --secondText: #333e48;
  --softTextColor: #878787;
  --bgHeader: #f2efe9;
  --yellowColor: #fed700;
  --priceSaleColor: #dc3545;
}

.dark {
  --bgColor: #181818;
  --bgMode: #181818;
  --bgCategory: #212121;
  --textColor: #d9d9d9;
  --softBg: #495057;
  --softTextColor: #878787;
  --secondText: #d9d9d9;
  --bgFooter: #181818;
}

.flex-center {
  @apply flex items-center;
}
